* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bodystyle {
    width: 90%;
    margin: 0 auto;
}

.carousel-item img {
    height: 550px;
}

#logo {
    margin-top: 5px;
}

.navbar {
    list-style: none;
    background-color: white;
}

.navbar ul li:hover {
    border-bottom: 2px solid black;
}

.carousel-item {
    position: relative;
}

.carousel-caption {
    position: absolute;
    top: 0;
    text-align: left;
    left: 90 !important;
    left: 90;
    margin-top: 180px;
}

.carousel-caption h2,
p {
    color: black;
    text-align: left;
    size: 5rem;
}

.carousel-caption p {
    padding: 3px;
    font-size: smaller;
    text-align: left;
}

button {
    height: 40px;
    width: 150px;
    border: 2px solid black;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 5px;
}

.carousel-caption button {
    position: absolute;
    left: 0;
}

.windows-icon {
    font-size: 3rem;
}

.windows-icon,
.fa {
    color: black;
    list-style: none;
}

.windows-icon,
.fab {
    color: black;
    list-style: none;
}

h5 {
    font: 1rem;
}

.card {
    border: none!important;
}

.card-body {
    padding: 5px 0;
}

.carousel-caption-para {
    position: absolute;
    top: 0;
    text-align: left;
    right: 90 !important;
    right: 90;
    margin-top: 1380px;
    margin-right: 10%;
}

.carousel-caption-para {
    color: black;
    text-align: right;
    size: 5rem;
}

#imran {
    font-size: 2rem;
}

.social-media {
    font-size: 2rem;
}

.footer,
ul,
li {
    list-style: none;
}

.footer {
    background: #f2f2f2;
    width: 1000% 1000%;
    padding: 70px 80px 80px;
    margin-top: 48px;
}

.footer a {
    text-decoration: none;
    color: #818181;
}

.footersection {
    display: flex;
    justify-content: space-between;
    top: 100%;
    left: 15%;
}

.globesection {
    top: 100%;
    left: -1%;
}